@font-face {
  font-family: popreg;
  src: url("/src/assets/fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: popbo;
  src: url("/src/assets/fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: popsemibold;
  src: url("/src/assets/fonts/Poppins-SemiBold.ttf");
}
a {
  color: inherit;
  text-decoration: none !important;
}
a:hover {
  color: inherit;
  text-decoration: none;
}

.getstarted {
  background: url("/src/assets/images/backgroundimg.png");
}
.logodiv {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 30px;
}
.heading {
  color: rgba(241, 88, 34, 1);
  font-size: 34px;
  font-family: popbo;
  text-align: center;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
}
.clinicpara {
  color: rgba(189, 189, 189, 1);
  font-size: 14px;
  font-family: popreg;
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.see {
  color: #000;
  font-family: popbo;
  text-align: center;
  padding-bottom: 30px;
}
.mine {
  color: rgba(130, 130, 130, 1);
  font-size: 13px;
  font-family: popreg;
  text-align: center;
  padding-bottom: 20px;
}
.startbtn {
  background: #f15822;
  border-radius: 10px;
  border: none;
  padding: 12px 58px;
  outline: none !important;
  color: #fff;
  font-family: popreg;
}

.getbuttons {
  text-align: center;
  padding-bottom: 68px;
}
.returnbtn {
  border-radius: 10px;
  border: none;
  padding: 10px 48px;
  outline: none;
  background: transparent;
  color: #f15822;
  border: 2px solid #f15822;
  outline: none !important;
  margin-left: 15px;
  font-family: popreg;
}

.university {
  padding-top: 40px;
  margin-bottom: 60px;
}
.teamspara {
  color: rgba(130, 130, 130, 1);
  padding-bottom: 50px;
  padding-top: 30px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.uniimages {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.maindiv {
  display: flex;
  justify-content: space-around;

  align-items: center;
}
.Doucoments {
  background: url("/src/assets/images/Rectangle\ 2.png");
  padding-top: 70px;
  padding-bottom: 40px;
  padding-left: 60px;
  padding-right: 60px;
}
.background {
  background: url("/src/assets/images/Rectangle\ 2.png");
}
.doucoment {
  display: flex;
  align-items: center;
  width: 40%;
  flex-direction: column;
}
.textdou {
  width: 70%;
  padding-bottom: 20px;
  color: #828282;
  font-family: popbo;
  text-align: center;
}
.aboutus {
  padding-top: 60px;
  padding-bottom: 60px;
}
.aboutimg img {
  padding-bottom: 35px;
}
.aboutimg {
  text-align: center;
  width: 32%;
  margin-left: auto;
  margin-right: auto;
}
.about_tittle {
  padding-bottom: 20px;
  font-family: popbo;
  font-size: 34px;
}
.aboutpara {
  color: rgba(189, 189, 189, 1);
  font-family: popreg;
  font-size: 14px;
  line-height: 27px;
}
.learn {
  color: #f15822;
  font-family: popbo;
  text-align: center;
  font-weight: 600;
}
.footer {
  background: #fcd5c7;
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
}
.footeritems {
  background: #fff;
  display: flex;
  border-radius: 10px;
  justify-content: space-evenly;
  width: 55%;
  align-items: center;
  height: 56px;
  margin: 10px 0;
}
.item {
  color: #f15822;
  font-size: 14px;
  font-family: popreg;
  font-weight: 700;
}
@media (max-width: 768.98px) {
}
.unii {
  padding-top: 20px;
  padding-bottom: 30px;
}
.uniimages {
  padding: 0 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.maindiv {
  flex-wrap: wrap;
  justify-content: center;
}
.doucoment {
  padding-bottom: 40px;
  width: 50%;
}
.getbuttons {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (max-width: 768.98px) {
  .heading {
    font-size: 24px;
    width: 90%;
  }
  .clinicpara {
    width: 90%;
  }
  .getbuttons {
    padding-top: 25px;
    padding-bottom: 40px;
  }
  .returnbtn {
    margin-top: 15px;
    margin-left: 0;
  }
  .startbtn {
    padding: 12px 62px;
  }
  .teamspara {
    width: 90%;
  }
  .Doucoments {
    padding-left: 0;
    padding-right: 0;
  }
  .doucoment {
    width: 90%;
    padding-bottom: 25px;
  }
  .aboutimg {
    width: 90%;
  }
  .footerlogo {
    text-align: center;
    padding-bottom: 15px;
  }
  .footer {
    flex-direction: column;
    justify-content: center;
    padding: 15px;
  }
  .footeritems {
    flex-direction: column;
    height: 200px;
    width: 100%;
    justify-content: space-evenly;
  }
}
